body {
	padding: 0px;
	margin: 0px;
	background-color: #303030;
}

.nav-bar {
	position: sticky;
	top: 0px;
	z-index: 5;
	width: 100%;
	margin: 0px;
	display: flex;
	flex-flow: row wrap;
	background-color: #121212;
}

.logo {
	flex: 1;
	max-width: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
}


.nav-links {
	list-style-type: none;
	padding: 0px;
	margin: 0px 0px 0px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 315px;
}

.nav-links li {
	flex: 2;
	margin: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo a {
	color: #F47C20;
	text-decoration: none;
}
.nav-links a {
	color: #FFFFFF;
	text-decoration: none;
}

@media (max-width: 384px){
	.nav-bar {
		flex-flow: column wrap;
	}
	.logo {
		max-width: 100%;
	}
	.nav-links{
		max-width: 100%;
		margin: 0px;
		flex: 1;
	}
}
.text {
	width: 90%;
	margin: 0 auto;
}
.text h1 {
	color: #F47C20;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
}

.text p {
	color: #D0D0D0;
	max-width: 65ch;
}
.text > p {
	margin: 0 auto;
}
.text h3 {
	color: white;
	magin-bottom: 10px;
}

.text ol {
	color: #D0D0D0;
	margin-top: 10px;
}

.text div {
	margin: 0 auto;
	max-width: 530px;
}

.text div ul {
	color: #D0D0D0;
}

.lists {
	display: flex;
	flex-flow: column wrap;
}

.lists h3 {
	margin-bottom: 10px;
	color: #FFFFFF;
}

.lists ul {
	margin-top: 10px;
	color: #D0D0D0;
	max-width: 200px;
}

.programs {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.programs > div {
	flex: 1;
	min-width: 120px;
}

@media (max-width: 487px){
	.lists div{
		width: 50%;
		min-width: 200px;
		margin: 0 auto;	
	}
}
@media (min-width: 488px){
	.lists {
		flex-flow: row wrap;
		justify-content: center;
	}
}
